.upload-page {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center; 
  height: 100vh; 
  width: 100%; 
  text-align: center; 
}

.row-layout {
  flex-direction: row;
}

.pdf-preview-container {
  width: 80%; 
  height: calc(100vh - 40px); 
  padding: 20px; 
  box-sizing: border-box;
  overflow: hidden;
}

.pdf-preview {
  width: 100%; 
  height: 100%; 
  display: block;
  overflow: auto; 
}

.submit-button-container {
  width: 20%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; /* Make the button fill its container */
  margin-top: 20px; /* Add some space on top of the button */
}

.file-input-label {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
}

.drop-text {
  margin-top: 15px;
}

.loading-screen, .data-display-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
}